@font-face {
    font-family: "JetBrainsMono";
    src: url('fonts/ttf/JetBrainsMono-Regular.ttf');
}

body {
    font-family: 'JetBrainsMono' !important;
    background-color: #010101 !important;
    color: white !important;
}

#header {
    margin: 0 !important;
    background-image:
        linear-gradient(to bottom, transparent 20%, #010101),
        url('images/back_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}

nav {
    display: block;
    position: fixed !important;
    background-color: #1e1f22;
    width: 50vw;


    a {
        color: whitesmoke !important;
        text-decoration: none;
    }
}

#white-font2 {
    color: gainsboro !important;
}

#a-font {
    background-color: rgba(0, 29, 29, 0.75);
    padding: 1%;
    color: deepskyblue !important;
    text-decoration: none !important;
    transition: 0.5s;
}

#a-font:hover {
    scale: 90%;
    transition: 0.1s;
    background-color: rgba(0, 29, 29, 0.875);
}

#a-font:active {
    scale: 80%;
    transition: 0.1s;
    background-color: rgba(0, 29, 29, 1);
}

.blink {
    display: inline-block !important;
    color: orange;
    animation: blink 1s infinite;
    text-decoration: bold;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h4 {
    padding-top: 3% !important;
}

#advantages {
    background: linear-gradient();
    text-align: justify;
    font-size: large;
    transition: 0.5s;
}


#text-center {
    text-align: center;
    padding: 10%;
}

#padding {
    padding: 1%;
}

#typewriter {
    color: white !important;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center !important;
    overflow: hidden;
    animation: typing 5s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}