html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('fonts/ttf/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'JetBrainsMono-SemiBold';
    src: url('fonts/ttf/JetBrainsMono-SemiBold.ttf');
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'JetBrainsMono-Regular', sans-serif !important;
    background-color: #010101 !important;
    background:
        linear-gradient(149deg, rgba(0, 0, 0, 1) 25%, rgba(1, 14, 15, 1) 35%, rgba(0, 0, 0, 1) 50%,
            rgba(4, 2, 29, 1) 60%, rgba(0, 0, 0, 1) 80%, rgba(2, 30, 36, 1) 100%);
}

.text-center {
    color: white;
    text-align: center;
    padding: 4%;
    font-size: large;
    transition: 0.5s;
}

.btn {
    color: deepskyblue !important;
    background-color: #1e1f22 !important;
    transition-property: scale !important;
    transition-duration: 0.25s !important;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0;
    animation: smooth-appearance 3s forwards;
}

.btn:hover {
    scale: 110%;
}

.btn:active {
    scale: 90%;
}

@keyframes smooth-appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

a {
    color: whitesmoke !important;
    text-decoration: none !important;
}

#white-font2 {
    color: gainsboro !important;
}

h4 {
    padding-top: 3% !important;
}

.padding {
    padding: 1%;
}

section {
    opacity: 0.2;
    transition: 0.2s;
}

section.active {
    opacity: 1;
    transition: 0.2s;
}

/* navbar */
nav {
    display: block;
    position: relative;
    background-color: #1e1f22;
}

#navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 3.5rem;
    display: flex;
    color: gainsboro;
    background: linear-gradient(180deg, rgba(13, 13, 13, .8), rgba(13, 13, 13, 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all .4s;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.25s;
}

#navbar:hover {
    opacity: 1;
}

#navbar>.navbar-brand {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

#navbar>.navbar-nav {
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4rem;
    opacity: 0.6;
}

#navbar>.navbar-brand:hover {
    opacity: 0.8;
}

#navbar>.navbar-nav:hover {
    opacity: 1;
}

/* navbar */

/* header */
#header {
    margin: 0 !important;
    background-image:
        linear-gradient(to bottom, transparent 20%, #010101),
        url('images/BG1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    z-index: 10;
}

#brand {
    font-family: 'JetBrainsMono-SemiBold', monospace;
}

#header-buttons {
    color: deepskyblue;
    text-decoration: none;
    transition: 0.5s;
}

#header-buttons>.btn {
    scale: 110%;
    margin: 1rem;
    white-space: nowrap;
}

#header-buttons>.btn:hover {
    scale: 120%;
}

#header-buttons>.btn:active {
    scale: 100%;
}

.blink {
    display: inline-block;
    color: #ffb400;
    animation: blink 1s infinite;
    font-weight: bold;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.typewriter {
    color: white;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    animation: typing 5s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* header */

/* advantages */
#advantages {
    margin-top: 10rem;
    text-align: justify;
    font-size: x-large;
    color: gainsboro;
}

#advantages>.text-center {
    padding: 0;
}

#advantages .row {
    padding-left: 2%;
    padding-right: 2%;

    .col {
        padding: 4%;

        .i {
            font-size: 4rem;
            background: gainsboro;
            background-size: 200%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0.8;
        }

        h3 {
            color: #097a70;
            background-image: linear-gradient(90deg, #09af91, #7fc7ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .text-wrapper {
            min-height: 26rem;
            padding: 4%;
            border: 2px solid rgba(127, 127, 127, 0.5);
            border-radius: 15px;
        }
    }
}

/* advantages */

/* teachers */
.teachers-slider {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 40rem;
    overflow: hidden;
    margin-bottom: 10rem;
}

.teachers-slider>.card {
    position: absolute;
    width: 30rem;
    height: 100%;
    background: linear-gradient(155deg, rgba(30, 31, 34, 1) 60%, rgba(2, 23, 28, 1) 100%);
    color: white;
    font-size: x-large;
    white-space: nowrap;
    border-radius: 20px;
    padding: 1.2rem;
    transition-property: transform, opacity;
    transition-duration: 1s;
    margin: auto;
}

#next,
#prev {
    color: #fff;
    background: none;
    border: none;
    font-size: xxx-large;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.5s;
}

#next {
    position: absolute;
    right: 10%;
    top: 40%;
}

#prev {
    position: absolute;
    left: 10%;
    top: 40%;
}

#prev:hover,
#next:hover {
    opacity: 1;
    z-index: 3;
}

.teachers-slider>.card>.btn {
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: #2b2d30 !important;
    scale: 130%;
}

.teachers-slider>.card>.btn:hover {
    scale: 140%;
}

.teachers-slider>.card>.btn:active {
    scale: 110%;
}

.teachers-slider>.card>.teacher-img {
    max-width: 28.8rem;
    background-size: cover;
    margin-bottom: 1rem;
}

#card0>.teacher-img {
    background-image: url("images/Tolstov-bg.png");
}

#card1>.teacher-img {
    background-image: url("images/Kudyakov-bg.png");
}

#card2>.teacher-img {
    background-image: url("images/Grigoriev-bg.png");
}

#card3>.teacher-img {
    background-image: url("images/Rudiak-bg.png");
}

#card4>.teacher-img {
    background-image: url("images/Chernigin-bg.png");
}

#card5>.teacher-img {
    background-image: url("images/Rydanov-bg.png");
}

.levitate-img {
    max-width: 100%;
    transform-origin: center;
    transform: translate3d(0, 0px, 0);
}

.levitate {
    animation: levitate-animation 2s;
    animation-fill-mode: forwards;
}

@keyframes levitate-animation {
    0% {
        transform: translate3d(0, 0px, 0);
    }

    50% {
        backdrop-filter: blur(0);
        transform: translate3d(0, -15px, 0);
    }

    100% {
        backdrop-filter: blur(5px);
        transform: translate3d(0, 0px, 0);
    }
}

.teachers-slider>.card>h3 {
    z-index: 2;
}

/* teachers */

/* reviews */
#reviews {
    text-align: center;
    font-size: x-large;
    color: gainsboro !important;
}

.conture {
    display: block;
    border: 6px ridge gainsboro;
    width: 30rem;
    height: 36rem;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgb(0, 26, 10));
    border-radius: 5% 30% 8% 30%;
    text-align: center;
    align-content: center;
    margin: auto auto 4% auto;
}

.carousel-caption {
    background:
        linear-gradient(90deg, #707f1f, #ffb400, #037027, #636fbe, #707f1f);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textflow 5s linear infinite;
    margin-bottom: 3%;
}

@keyframes textflow {
    from {
        background-position: 0 center
    }

    to {
        background-position: 200% center
    }
}

/* reviews */

/* feedback */
#feedback-form {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40vw;
    margin: auto auto 5rem auto;
}

#feedback-form>input,
#feedback-form>textarea {
    background-color: #1e1f22;
    opacity: 90%;
    color: white;
    padding: 0.5rem;
    border-radius: 15px;
}

#feedback-form>textarea {
    resize: vertical;
    height: 10rem;
    min-height: 10rem;
}

#feedback-form>.btn {
    font-size: large;
    align-self: center;
    width: 15rem;
    gap: 1rem;
}

/* feedback */

/* footer */
.footer {
    background-color: #1e1f22;
    padding-bottom: 1rem;
}

.footer h4 {
    color: #858585;
    text-transform: uppercase;
    font-size: 1rem;
    border-bottom: 1px solid #858585;
    padding-bottom: 3px;
}

.rights {
    color: #858585;
}

.rights>span {
    white-space: nowrap;
}

.footer-icons {
    color: #858585
}

/* footer */

/* popup window */
.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 999;
    transform: translate(0) scale(0);
    transition: .4s ease-in-out;
}

.pop_up.open {
    transform: translate(0%) scale(100%);
    background-color: rgba(0, 0, 0, 0.8);
}

.pop_up_container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    padding: 2%;
    position: relative;
    display: block;
    width: 40rem;
    height: 35rem;
    background: linear-gradient(45deg, #121212 0%, #001B1C 50%, #121212 100%);
    border: 1px solid #7F7F7F7F;
    border-radius: 1.5rem;
    text-align: center;
    align-content: center;
    margin: auto;
}

.pop_up_body p {
    margin-bottom: 6%;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
}

.pop_up_body input {
    display: block;
    margin: 4% auto 0 auto;
    border: 1px solid gainsboro;
    width: 30rem;
    padding: 2.5% 3%;
    background-color: #1e1f22;
    border-radius: 15px;
    font-weight: 500;
    font-size: 1.2rem;
    color: #e5e5e5;
}

.pop_up_body input:focus {
    outline: none;
}

.pop_up_body button {
    cursor: pointer;
    display: block;
    width: 20rem;
    margin: 5% auto 0 auto;
    padding: 2.5% 0;
    font-weight: 500;
    font-size: large;
    border: none;
    border-radius: 1.5rem;
    color: #000000;
    background-color: #ffb400;
    transition: scale 0.2s ease-in-out;
}

.pop_up_body button:hover {
    scale: 105%;
    background-color: #ffbf00;
}

.pop_up_body button:active {
    scale: 100%;
    background-color: #ccb074;
}

.pop_up_close {
    color: white;
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    cursor: pointer;
}

.react {
    padding-top: 3%;
    display: none;
    color: #ffb400;
    font-size: 1.25rem;
    transform: translate(0) scale(0);
}

.react.open {
    display: block;
    transform: translate(0%) scale(100%);
}

/* popup window */

/* adaptation */
@media screen and (max-width: 768px) {
    html {
        font-size: medium;
    }

    body {
        background: linear-gradient(149deg, rgba(0, 0, 0, 1) 25%, rgba(1, 14, 15, 1) 37%,
                rgba(0, 0, 0, 1) 49%, rgba(4, 2, 29, 1) 70%, rgba(0, 0, 0, 1) 84%, rgba(2, 30, 36, 1) 100%);
    }

    /* navbar */
    #navbar {
        z-index: 12 !important;
        font-size: small;
    }

    #navbar>.navbar-brand {
        margin-left: 1rem;
        font-size: medium;
    }

    #navbar>.navbar-nav {
        margin-left: 1.5rem;
    }

    /* navbar */

    /* header */
    #header {
        background-size: contain;
    }

    #header>div>h4 {
        font-size: 1rem;
        margin-bottom: 4rem !important;
    }

    #header-buttons>.btn {
        font-size: 0.8rem;
        scale: 100%;
    }

    #header-buttons>.btn:active {
        scale: 90%;
    }

    /* header */

    /* advantages */
    .row {
        .col {
            font-size: medium;
            margin-bottom: 1rem;

            .i {
                font-size: 3rem;
            }

            h3 {
                font-size: large;
            }

            .text-wrapper {
                height: auto;
            }
        }
    }

    /* advantages */

    /* teachers */
    .teachers-slider {
        height: 27.5rem;
    }

    .teachers-slider>.card {
        padding: 2.5%;
        width: 19.5rem;
        font-size: medium;
        border-radius: 15px;
    }

    .teachers-slider>.card>.btn {
        scale: 100% !important;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
    }

    #next {
        position: absolute;
        right: 5%;
        top: 35%;
    }

    #prev {
        position: absolute;
        left: 5%;
        top: 35%;
    }

    /* teachers */

    /* reviews */
    .conture {
        font-size: 45%;
        padding: 4%;
        width: 20rem;
        height: 25rem;
    }

    .carousel-caption {
        padding: 15%;
        margin-bottom: 0%;
    }

    /* reviews */

    /* feedback */
    #feedback-form {
        gap: 0.6rem;
        width: 60vw;
    }

    /* feedback */

    /* footer */
    .footer-icons {
        font-size: 1.5rem;
    }

    .footer-icons>a {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* footer */

    /* popup window */
    .pop_up_body {
        width: 35rem;
        height: 32rem;
    }

    .pop_up_body p {
        font-size: 2rem;
    }

    .pop_up_body input {
        padding: 2% 3%;
    }

    .pop_up_body button {
        padding: 2% 0;
    }

    /* popup window */
}

@media screen and (max-width: 620px) {
    /* feedback */
    #feedback-form {
        width: 80vw !important;
    }

    /* feedback */

    /* popup window */
    .pop_up_body {
        width: 25rem;
        height: 28rem;
    }

    .pop_up_body p {
        font-size: 1.4rem;
    }

    .pop_up_body input {
        width: 22rem;
    }

    .pop_up_body button {
        width: 15rem;
    }

    .react {
        font-size: 1rem;
    }

    /* popup window */
}

@media screen and (max-width: 480px) {
    html {
        font-size: small;
    }

    /* navbar */
    #navbar {
        font-size: x-small;
        height: 5%;
    }

    /* navbar */

    /* header */
    #header>div>#brand {
        margin-top: 15rem;
    }

    #header>div>h4 {
        font-size: 1rem;
        margin-bottom: 4rem !important;
    }

    #header-buttons {
        text-wrap: balance;
    }

    /* header */

    /* teachers */
    .teachers-slider {
        height: 26rem;
    }

    .teachers-slider>.card {
        width: 18rem;
        font-size: small;
    }

    .teachers-slider>.card>.btn {
        scale: 100%;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
    }

    /* teachers */

    /* feedback */
    #feedback-form {
        width: 80vw;
    }

    #feedback-form>.btn {
        font-size: medium;
        width: 12rem;
    }

    /* feedback */

    /* popup window */
    .pop_up_body {
        width: 30rem;
        height: 30rem;
    }

    .pop_up_body p {
        font-size: 1.6rem;
    }

    .pop_up_body input {
        width: 28rem;
    }

    .pop_up_body button {
        width: 20rem;
        padding: 1.5% 0;
    }

    .react {
        font-size: 1rem;
    }

    /* popup window */
}

@media screen and (max-width: 400px) {
    html {
        font-size: xx-small !important;
    }

    /* navbar */
    #navbar {
        font-size: x-small !important;
    }

    #navbar>.navbar-brand {
        font-size: small !important;
    }

    /* navbar */

    /* header */
    #header>div>#brand {
        font-size: xx-large;
    }

    #header>div>h4 {
        font-size: 1.35rem;
    }

    #header-buttons>.btn {
        font-size: 1.2rem !important;
    }

    /* header */

    /* teachers */
    .teachers-slider {
        height: 32rem !important;
    }

    .teachers-slider>.card {
        width: 23rem !important;
    }

    .teachers-slider>.card>.btn {
        scale: 110% !important;
        margin-left: 0.4rem;
        margin-top: 0.6rem;
    }

    #next,
    #prev {
        font-size: x-large;
    }

    /* teachers */

    /* footer */
    .footer-icons {
        font-size: 2rem;
    }

    /* footer */

    /* popup window */
    .pop_up_body {
        width: 90vw;
        height: 35rem;
    }

    .pop_up_body p {
        font-size: 2rem;
    }

    .pop_up_body input {
        width: 80vw;
    }

    .pop_up_body button {
        width: 60vw;
        padding: 1% 0;
    }

    /* popup window */
}