html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('fonts/ttf/JetBrainsMono-Regular.ttf');
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'JetBrainsMono' !important;
    background-color: #010101 !important;
    background: linear-gradient(#010101, #021214);
}

.text-center {
    color: white;
}

.btn {
    color: deepskyblue !important;
    background-color: #1e1f22 !important;
    transition-property: scale !important;
    transition-duration: 0.25s !important;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0;
    animation: smooth-appearance 3s forwards;
}

.btn:hover {
    scale: 110%;
}

.btn:active {
    scale: 90%;
}

@keyframes smooth-appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}

#header {
    margin: 0 !important;
    background-image:
        linear-gradient(to bottom, transparent 20%, #010101),
        url('images/Back_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    z-index: 10;
}

#navbar {
    position: fixed !important;
    top: 0 !important;
    z-index: 10 !important;
    width: 100%;
    height: 3.5rem;
    display: flex;
    color: white;
    background-color: #1e1f22;
    opacity: 0.8;
    transition-property: opacity !important;
    transition-duration: 0.25s !important;
}

#navbar>.navbar-brand {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

#navbar:hover {
    opacity: 1;
}

#navbar>.navbar-nav {
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4rem;
}

nav {
    display: block;
    position: relative !important;
    background-color: #1e1f22;

}

a {
    color: whitesmoke !important;
    text-decoration: none !important;
}

#white-font2 {
    color: gainsboro !important;
}

#a-font {
    color: deepskyblue !important;
    text-decoration: none !important;
    transition: 0.5s;
}

#a-font>.btn {
    scale: 110%;
    margin: 1rem;
}

#a-font>.btn:hover {
    scale: 120%;
}

#a-font>.btn:active {
    scale: 100%;
}

.blink {
    display: inline-block !important;
    color: orange;
    animation: blink 1s infinite;
    font-weight: bold;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h4 {
    padding-top: 3% !important;
}

#advantages {
    margin-top: 10rem;
    text-align: justify;
    font-size: x-large;
    color: gainsboro !important;
}

.text-center {
    text-align: center;
    padding: 4%;
    font-size: large;
    transition: 0.5s;
}

.padding {
    padding: 1%;
}

.typewriter {
    color: white !important;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center !important;
    overflow: hidden;
    animation: typing 5s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

section {
    opacity: 0.2;
    transition: 0.2s;
}

section.active {
    opacity: 1 !important;
    transition: 0.2s;
}

/* teachers */
.teachers-slider {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 40rem;
    overflow: hidden;
    margin-bottom: 10rem;
}

.teachers-slider>.card {
    position: absolute;
    width: 30rem;
    height: 40rem;
    background-color: #1e1f22;
    color: white;
    font-size: x-large;
    border-radius: 20px;
    padding: 25px;
    transition-property: transform, opacity;
    transition-duration: 1s;
    left: calc(50% - 15rem);
}

#next,
#prev {
    color: #fff;
    background: none;
    border: none;
    font-size: xxx-large;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.5s;
}

#next {
    position: absolute;
    right: 15rem;
    top: 40%;
}

#prev {
    position: absolute;
    left: 15rem;
    top: 40%;
}

#prev:hover,
#next:hover {
    opacity: 1;
}

.teachers-slider>.card>.btn {
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: #2b2d30 !important;
    scale: 130%;
}

.teachers-slider>.card>.btn:hover {
    scale: 140%;
}

.teachers-slider>.card>.btn:active {
    scale: 90%;
}

.teachers-slider>.card>.teacher-img {
    max-width: calc(30rem - 50px);
    background-size: cover;
    margin-bottom: 1rem;
}

.teachers-slider>#card0>.teacher-img {
    background-image: url("images/Tolstov-bg.png");
}

.teachers-slider>#card1>.teacher-img {
    background-image: url("images/Kudyakov-bg.png");
}

.teachers-slider>#card2>.teacher-img {
    background-image: url("images/Grigoryev-bg.png");
}

.teachers-slider>#card3>.teacher-img {
    background-image: url("images/Rudiak-bg.png");
}

.teachers-slider>#card4>.teacher-img {
    background-image: url("images/Chernigin-bg.png");
}

.teachers-slider>#card5>.teacher-img {
    background-image: url("images/Rydanov-bg.png");
}

.levitate-img {
    max-width: calc(30rem - 50px);
    transform-origin: center;
    transform: translate3d(0, 0px, 0);
}

.levitate {
    animation: levitate-animation 2s;
    animation-fill-mode: forwards;
}

@keyframes levitate-animation {
    0% {
        transform: translate3d(0, 0px, 0);
    }

    50% {
        backdrop-filter: blur(0);
        transform: translate3d(0, -15px, 0);
    }

    100% {
        backdrop-filter: blur(5px);
        transform: translate3d(0, 0px, 0);
    }
}

.teachers-slider>.card>h3 {
    z-index: 2;
}

/* teachers */

/* reviews */
#reviews {
    text-align: center;
    font-size: x-large;
    color: gainsboro !important;
}

.conture {
    display: block;
    border: 6px solid gainsboro;
    border-style: ridge;
    width: 500px;
    height: 600px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgb(0, 26, 10));
    border-radius: 10px 150px 30px 150px;
    text-align: center;
    margin: auto;
    align-content: center;
    margin-bottom: 4%;
}

.carousel-caption {
    background: linear-gradient(90deg, #707f1f, #ffb400, #037027, #636fbe, #707f1f);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textflow 5s linear infinite;
    margin-bottom: 4%;
}

@keyframes textflow {
    from {
        background-position: 0% center
    }

    to {
        background-position: 200% center
    }
}

.row {
    padding-left: 5%;
    padding-right: 5%;

    .col-6 {
        .i {
            font-size: 50px;
            background: gainsboro;
            background-size: 200%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        padding: 5%;
    }
}
/* reviews */

/* feedback */
#feedback-form {
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50rem;
    left: calc(50% - 25rem);
    margin-bottom: 5rem;
}

#feedback-form>input,
#feedback-form>textarea {
    background-color: #1e1f22;
    color: white;
    padding: 0.5rem;
    border-radius: 15px;
}

#feedback-form>textarea {
    resize: vertical;
    height: 10rem;
    min-height: 10rem;
}

#feedback-form>.btn {
    font-size: large;
    align-self: center;
    width: 15rem;
    gap: 1rem;
}
/* feedback */

/* footer */
.footer {
    background-color: #1e1f22;
}

.footer h4 {
    color: #858585;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid #858585;
    padding-bottom: 3px;
}

.rights {
    color: #858585;
}

.footer-icons {
    color: #858585
}
/* footer */

/* Popup window */
.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 999;
    transform: translate(0) scale(0);
    transition: .4s ease-in-out;
}

.pop_up.open{
    transform: translate(0%) scale(100%); 
    background-color: rgba(0, 0, 0, 0.8);
}

.pop_up_container{
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body{
    position: relative;
    display: block;
    width: 700px;
    height: 600px;
    background: linear-gradient(135deg, #373832, #0a3611);
    border-radius: 20px;
    text-align: center;
    align-content: center;
    margin:auto;
    margin-top: 8%;
}

.pop_up_body p{
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 40px;
}

.pop_up_body input{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #e5e5e5;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #000000
}

.pop_up_body input:focus {
    outline: none;
}

.pop_up_body button {
    cursor: pointer;
    display: block;
    width: 300px;
    margin: 60px auto 0px auto;
    padding: 20px 0px;
    font-weight: 500;
    font-size: large;
    border: none;
    border-radius: 40px;
    color:#000000;
    background-color: #ffb400;
}

.pop_up_close{
    color: white;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 21px;
    cursor: pointer;
}

.react{
    padding-top: 20px;
    display: none;
    color:#09f758;
    font-size: 21px;
    transform: translate(0) scale(0);
}
.react.open{
    display: block;
    transform: translate(0%) scale(100%);
}